.home{
    // display: flex;
    margin-left: 260px;
    font-size: 2rem;

    .input_field {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        width: 25%;
        height: auto;
        padding: 0.75rem 1.25rem;
        border: 1px solid black;
        outline: none;
        border-radius: 2rem;
        color: var(--color-black);
        background: var(--color-light);
        text-transform: unset;
        text-rendering: optimizeLegibility;
    }
}